@import './atom/index.scss';
@import './common/index.scss';
@import "./reset/index.scss";
page {
  --color-white: #ffffff;
  --color-white-1: #f2f2f2;
  --color-white-2: #e4e4e4;
  --color-white-3: #a1a1a1;
  --color-black: #000000;
  --color-black-1: #222222;
  --color-black-2: #3c3c3c;
  --color-black-3: #4a4a4a;
  --color-primary: #0078d4;

  --color-primary-light: #{$uni-color-primary-light};
  --color-success: #{$uni-color-success};
  --color-success-light: #{$uni-color-success-light};
  --color-warning: #{$uni-color-warning};
  --color-warning-light: #{$uni-color-warning-light};
  --color-error: #{$uni-color-error};
  --color-error-light: #{$uni-color-error-light};
  --color-info: #{$uni-color-info};
  --color-info-light: #{$uni-color-info-light};


	//background-color: var(--color-white-1);
}
