@import './atom/index.scss';
@import './common/index.scss';
@import "./reset/index.scss";

page {
  --color-white: #ffffff;
  --color-white-1: #fafafa;
  --color-white-2: #f2f2f2;
  --color-white-3: #e4e4e4;
  --color-black: #000000;
  --color-black-1: #222222;
  --color-black-2: #3c3c3c;
  --color-black-3: #4a4a4a;
  --color-primary: #0078d4;

  --color-primary-light: #f0f9ff;
  --color-success: #10b981;
  --color-success-light: #ecfdf5;
  --color-warning: #f59e0b;
  --color-warning-light: #fffbeb;
  --color-error: #ef4444;
  --color-error-light: #fef2f2;
  --color-info: #7f899a;
  --color-info-light: #e4e4e7;


  background-color: var(--color-white-1);
}
